body {
  background-color: rgb(229, 229, 229);
}
h1 {
  position: absolute;
  top: 1px;
  left: 220px;
}
.photo1 {
  position: absolute;
  top: 75px;
  left: 25px;
}
.photo2 {
  position: absolute;
  top: 300px;
  left: 500px;
}
.photo3 {
  position: absolute;
  top: 520px;
  left: 25px;
}
.photo4 {
  position: absolute;
  top: 75px;
  left: 1375px;
}
.photo5 {
  position: absolute;
  top: 300px;
  left: 900px;
}
.photo6 {
  position: absolute;
  top: 520px;
  left: 1375px;
}
.rectangle {
  width: 450px;
  height: 200px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  border: 0.5px solid rgb(0, 0, 0);
  position: absolute;
  top: 75px;
  left: 250px;
}
.rectangle2 {
  width: 450px;
  height: 200px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  border: 0.5px solid rgb(0, 0, 0);
  position: absolute;
  top: 300px;
  left: 25px;
}
.rectangle3 {
  width: 450px;
  height: 200px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  border: 0.5px solid rgb(0, 0, 0);
  position: absolute;
  top: 520px;
  left: 250px;
}
.rectangle4 {
  width: 450px;
  height: 200px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  border: 0.5px solid rgb(0, 0, 0);
  position: absolute;
  top: 75px;
  left: 900px;
}
.rectangle5 {
  width: 450px;
  height: 200px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  border: 0.5px solid rgb(0, 0, 0);
  position: absolute;
  top: 300px;
  left: 1125px;
}
.rectangle6 {
  width: 450px;
  height: 200px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  border: 0.5px solid rgb(0, 0, 0);
  position: absolute;
  top: 520px;
  left: 900px;
}
